@mixin font(
  $font-family: $fontOpen,
  $font-size: 1.1rem,
  $font-weight: 500,
  $color: #333,
  $line-height: 125%,
  $margin: false,
  $padding: false
) {
  font-family: "#{$font-family}", Arial, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height;
  letter-spacing: -0.3px;
  @if $margin {
    margin: $margin;
  }
  @if $padding {
    padding: $padding;
  }
}

//mixins de media

// Extra small devices (portrait phones, less than 420px)
@mixin xxs {
  @media (max-width: 375px) {
    @content;
  }
}
// Extra small devices (portrait phones, less than 576px)
@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}
// Small devices (landscape phones, less than 768px)
@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}
// Medium devices (tablets, less than 992px)
@mixin md {
  @media (max-width: 992px) {
    @content;
  }
}
// Large devices (desktops, less than 1200px)
@mixin lg {
  @media (max-width: 1200px) {
    @content;
  }
}
