@import "./src/scss/abstracts/mixins";
@import "./src/scss/abstracts/variables";

$tipoBtn: "red" #be1f20 $red, "green" #04763f $green, "blue" #095e8e $blue;

/*Button*/
:host {
  max-width: 260px;
  width: 100%;
}
button.btn {
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border-bottom: 5px solid #000;
  height: 100%;
  width: 100%;
  line-height: 100%;
  font-weight: 500;
  color: $white;
  background: #777;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }

  @each $class, $borde, $bg in $tipoBtn {
    &.#{$class} {
      background: $bg;
      border-bottom-color: $borde;
    }
  }
}
